/* html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  border: solid 1px black;
}

input {
  border: solid 1px black;
} */
h1 {
  margin: 0;
}
.divTitle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.gameTable {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

td {
  border: 2px solid #333;
  height: 100px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 60px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

.endgame {
  display: none;
  width: 200px;
  top: 260px;
  background-color: rgba(205, 133, 63, 0.8);
  position: absolute;
  left: 50%;
  margin-left: -100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  border-color: black;
  color: white;
  font-size: 2em;
}
.title {
  font-size: 70px;
  margin: 0;
}
.scores {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}

.scrz {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

@media (min-width: 635px) {
  td {
    border: 2px solid #333;
    height: 190px;
    width: 190px;
    text-align: center;
    vertical-align: middle;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 100px;
    cursor: pointer;
  }
  .endgame {
    top: 34%;
    left: 43%;
    width: 400px;
  }
  h1 {
    margin: 0;
    font-size: 70px;
  }
}
.btn {
  border-color: black;

  border-style: dotted;
}
